.card{
    border: solid hsl(0, 13%, 55%) 2px;
    background-color: rgb(189, 136, 73);
    border-radius: 20px;
    display: inline-block;
    height: 349.812px;
    width: 300px;
}
.card-image{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.card-title{
    border: solid rgb(212, 196, 121) 2px;
    background-color: rgb(212, 196, 121);
    border-radius: 20px;
}
.card-about{
    font-weight: bold;
    background-color: rgb(202, 202, 212);
    border-radius: 20px;
}